[submodule "denite"]
	path = bundle/denite.nvim
	url = https://github.com/Shougo/denite.nvim
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/loremipsum"]
	path = bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum
[submodule "bundle/neco-vim"]
	path = bundle/neco-vim
	url = https://github.com/Shougo/neco-vim
[submodule "bundle/neoinclude.vim"]
	path = bundle/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = https://github.com/kovisoft/paredit
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule "bundle/vim-emoji"]
	path = bundle/vim-emoji
	url = https://github.com/junegunn/vim-emoji
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/ncm2"]
	path = bundle/ncm2
	url = https://github.com/ncm2/ncm2
[submodule "bundle/ncm2-bufword"]
	path = bundle/ncm2-bufword
	url = https://github.com/ncm2/ncm2-bufword
[submodule "bundle/ncm2-neoinclude"]
	path = bundle/ncm2-neoinclude
	url = https://github.com/ncm2/ncm2-neoinclude
[submodule "bundle/ncm2-path"]
	path = bundle/ncm2-path
	url = https://github.com/ncm2/ncm2-path
[submodule "bundle/ncm2-pyclang"]
	path = bundle/ncm2-pyclang
	url = https://github.com/ncm2/ncm2-pyclang
[submodule "bundle/ncm2-racer"]
	path = bundle/ncm2-racer
	url = https://github.com/ncm2/ncm2-racer
[submodule "bundle/ncm2-ultisnips"]
	path = bundle/ncm2-ultisnips
	url = https://github.com/ncm2/ncm2-ultisnips
[submodule "bundle/ncm2-vim"]
	path = bundle/ncm2-vim
	url = https://github.com/ncm2/ncm2-vim
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/vim-dim"]
	path = bundle/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim
[submodule "bundle/vim-glsl"]
	path = bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "bundle/vim-racer"]
	path = bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "bundle/ncm2-github"]
	path = bundle/ncm2-github
	url = https://github.com/ncm2/ncm2-github
[submodule "bundle/float-preview.nvim"]
	path = bundle/float-preview.nvim
	url = https://github.com/ncm2/float-preview.nvim
